<div class="container">

  <h3>Modifier user</h3>

      <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" id="nom" [(ngModel)]="data.nom" placeholder="Enter Nom">
      </div>
      <div class="form-group">
          <label for="prenom">Prénom</label>
          <input type="text" class="form-control" id="prenom" [(ngModel)]="data.prenom" placeholder="Enter Prénom">
      </div>
      <button type="submit" class="btn btn-success" (click)="update()">Update</button>
      <button type="submit" class="btn btn-warning ml-1" [routerLink]="[ '/list']">Cancel</button>
</div>
